<a href="https://colab.research.google.com/github/karabomaboka/21DaysLockdown-DS-Projects/blob/master/Pandas_SQL_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
import sqlite3

In [0]:
#Create SQL Table
create_table="""
CREATE TABLE student_score
(Id INTEGER,Name VARCAHR(20),Math REAL,Science REAL);"""

In [0]:
#Execute SQL Statements
executeSQL=sqlite3.connect(':memory:')
executeSQL.execute(create_table)
executeSQL.commit()

In [0]:
#Prepare  a SQL query
SQL_query=executeSQL.execute('select *from student_score')

In [0]:
#fetch the resultset for the query
resultset=SQL_query.fetchall()

In [31]:
#view the resultset(Empty data)
resultset

[]

In [0]:
#prepare records to be in SQL table
insertSQL = [(10,'Jack',85,92),
                      (29,'Tom',73,89),
                      (65,'Ram',65.5,77),
                      (5,'Steve',55,91)
                      ]

In [0]:
#insert records into table
insert_statement="Insert into student_score values(?,?,?,?)"
executeSQL.executemany(insert_statement,insertSQL)
executeSQL.commit()

In [0]:
#Prepare the sql query
SQL_queryy=executeSQL.execute("select * from student_score")

In [0]:
resultsets=SQL_queryy.fetchall()

In [40]:
resultsets

[(10, 'Jack', 85.0, 92.0),
 (29, 'Tom', 73.0, 89.0),
 (65, 'Ram', 65.5, 77.0),
 (5, 'Steve', 55.0, 91.0)]